/.github                    export-ignore
/.gitmodules                export-ignore
/.openapi-generator         export-ignore
/.openapi-generator-ignore  export-ignore
/.travis.yml                export-ignore
/api.ts                     export-ignore
/composer.json              export-ignore
/composer.lock              export-ignore
/jest.config.ts             export-ignore
/openapi-config.yaml        export-ignore
/api                        export-ignore
/bin                        export-ignore
/examples                   export-ignore
/model                      export-ignore
/oas                        export-ignore
/run-build                  export-ignore
/templates                  export-ignore
/test                       export-ignore
